# See https://docs.github.com/en/get-started/git-basics/ignoring-files for more about ignoring files.

/dist
/.angular
/node_modules

# IDE
/.vscode
/.idea

# Logs
npm-debug.log
pnpm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
